<!DOCTYPE html>
<html>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<link rel="stylesheet" type="text/css" href="./css/home.css">

<body>

    <div ng-app="myApp" ng-controller="EmailCtrl">
        <div class="outerDivTextBox">
            <email-box ng-if='validEmail' ng-repeat="eachEmail in boxEmail track by $index"></email-box>
            <textarea ng-model="email" class="textarea" ng-change="changeModel()"></textarea>
        </div>
    </div>


    <script src='./js/app.js'></script>
    <script src='./js/controller/email.controller.js'></script>
    <script src='./js/directive/emailBox.directive.js'></script>
</body>

</html>